body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(170, 164, 172);
  background: radial-gradient(circle, rgba(170, 164, 172, 1) 8%, rgba(120, 88, 135, 1) 64%, rgba(129, 57, 100, 1) 100%);

}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}